<template>
  <div class="movie-list">
    <div class="container">
      <div class="columns">
        <div class="column col-xs-12 col-3 filters text-left bg-dark">
          <h5>Filters:</h5>
          <div class="accordion">
            <input type="checkbox" id="accordion-genres" name="accordion-checkbox" hidden>
            <label class="accordion-header" for="accordion-genres">
              <i class="icon icon-arrow-right mr-1"></i>
              Genres
            </label>
            <div class="accordion-body">
              <div class="form-group">
                <label class="form-checkbox">
                  <input type="checkbox" :checked="showAllGenres" v-on:change="toggleAll($event)">
                  <i class="form-icon"></i> All genres
                </label>
              </div>
              <div v-for="genre in genres" :key="genre" class="form-group">

                <label class="form-checkbox">
                  <input type="checkbox" :checked="getGenreById(genre).active" v-on:change="toggleGenreFilter(genre)">
                  <i class="form-icon"></i> {{getGenreById(genre).name}}
                </label>
              </div>
            </div>
          </div>
          <div class="accordion">
            <input type="checkbox" id="accordion-rating" name="accordion-checkbox" hidden>
            <label class="accordion-header" for="accordion-rating">
              <i class="icon icon-arrow-right mr-1"></i>
              Minimum rating
            </label>
            <div class="accordion-body rating">
              <label for="slider">{{getMinimumRating}}</label>
              <input class="slider" id="slider" type="range" min="0" step="0.5" max="10"
                     v-on:change="changeRating($event.target.value)"
                     :value="getMinimumRating">
            </div>
          </div>
        </div>
        <div class="column col-9">
          <h3>List of movies:</h3>
          <div class="toast" v-if="filteredMovies.length === 0 && !loading">
            There are not movies for selected filters, please load more or select more filters.
          </div>
          <div class="columns poster" v-for="movie of filteredMovies" :key="movie.id">
            <div class="col-6">
              <img class="img-responsive" :src="`${constants.IMAGE_BASE_URL}${movie.poster_path}`"/>
            </div>
            <div class="col-6">
              <h2>{{movie.title}}</h2>
              <p>
                <span class="chip" v-for="genreId of movie.genre_ids" :key="genreId">{{getGenreById(genreId).name}}</span>
              </p>
            </div>
          </div>
          <div v-if="loading" class="loading loading-lg"></div>
          <div v-else>
              <button  v-if="lastLoadedPage < totalPages"
                       class="btn btn-primary load-more"
                       v-on:click="getMovies(lastLoadedPage + 1)">Load more...</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
import { Constants } from "../constants";

export default {
  data: () => {
    return { constants: Constants };
  },
  computed: {
    ...mapGetters([
      "genres",
      "filteredMovies",
      "loading",
      "getGenreById",
      "getMinimumRating",
      "showAllGenres",
      "lastLoadedPage",
      "totalPages"
    ])
  },
  created: function() {
    this.$store.dispatch("initData");
  },
  methods: {
    ...mapMutations({
      toggleGenreFilter: "TOGGLE_GENRE_FILTER"
    }),
    ...mapActions(["getMovies"]),
    changeRating(rating) {
      this.$store.commit("CHANGE_RATING", rating);
    },
    toggleAll(ev) {
      if (ev.target.checked) {
        this.$store.commit("SELECT_ALL_GENRES");
      } else {
        this.$store.commit("DESELECT_ALL_GENRES");
      }
    }
  }
};
</script>
<style scoped lang="scss">
.filters {
  padding: 0 15px;
}
.rating {
  display: flex;
  label {
    min-width: 15px;
  }
  input {
    margin-left: 15px;
    &:focus {
      box-shadow: none;
    }
  }
}
.poster {
  padding: 15px;
}
.load-more {
  margin-top: 15px;
  margin-bottom: 25px;
}
</style>
