<template>
    <header class="navbar bg-primary">
        <section class="navbar-section">
            <!--<router-link to="/movie-list" activeClass="active" tag="a" class="btn btn-link">List</router-link>-->
        </section>
        <section class="navbar-center">
            My Movies app
        </section>
        <section class="navbar-section">

        </section>
    </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped lang="scss">
.navbar {
  padding: 20px;
  .navbar-center {
    font-weight: bold;
  }
}
</style>
